@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", sans-serif;
}

#nav-div {
    margin-left: 60vw;
    display: flex;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-left: 1.5vw;
}

#lara {
    text-align: center;
}