@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", sans-serif;
    margin: 0;
}

#nav-div {
    margin-left: 60vw;
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-left: 1.5vw;
}

#laradiv {
    text-align: center;
    margin-bottom: 15%;
    margin-top: 15%;
}

#laradiv h1 {
    font-size: 50px;
}


#lara-heading, #diogo-heading {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
#lara-heading, #diogo-heading {
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

#divisao {
    text-align: center;
    width: 100%;
    height: 25vh;
    background-color: rgb(240, 184, 63);
}

#divisao h2 {
    padding-top: 4%;
}

#quem-somos {
margin-left: 6vw;
font-size: 30px;
}


#sectionsomos {
    display: flex;
    flex-direction: row;
}

.quemsomosdiv {

    margin-left: auto;
    margin-right: auto;
}

.quemsomosdiv img {
    width: 35vw;
}

#quem-somos-text {
    width: 40vw;
}

footer {
    color: white;
    background-color: rgb(35, 32, 32);
}

.div-footer {
    margin: 20px;
    display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

#footer-logo {
    grid-column: 1 / span 2;
}

#footer-social div {
    display: flex;
    flex-direction: row;
}

#footer-social svg {
    margin-right: 8px;
}

#rights {
    text-align: center;
}

#title-formacao {
    margin-top: 15%;
    margin-bottom: 25%;
}
.heading-formacao {
    text-align: center;
}

.paragraph-formacao {
    margin: 30px;

    text-align: center;
}

#epsm, #esgts {
width: 99vw;
}

.grid-formacao {
    display: grid;
    grid-template-columns: auto auto;
    box-align: center;
}

.grid-formacao div{
    width: 45%;
    margin-left: 40%;
}

.polonia {
    width: 15vw;
}

#erasmus {
width: 25%;
display: block;
margin-left: auto;
margin-right: auto;
}

.contacto-body {
    text-align: center;
}

.contacto-body h1 {
    margin-top: 14%;
}

.contacto-icons svg {
width: 3%;
margin-right: 5px;
}